.CommentCard {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;

  img {
    max-width: 200px;
  }
}
