@import "../variables";
@import "../placeholders";

.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
  gap: 2rem;

  p {
    color: #999999;
    font-size: 19px;
    margin: 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    input {
      width: 570px;
      padding: 0.5rem;
      outline: 0;
      border: 0;
    }
  }

  span {
    display: flex;
    justify-content: right;
    button {
      width: 129px;
      height: 40px;
      color: $White;
      background: #666699;
      outline: 0;
      border: 0;
    }
  }
}
