@import "./style/variables";
@import "./style/placeholders";

html,
body {
  background: $BG;
  color: #000;
  margin: 0;
  box-sizing: border-box;
  @extend %OpenSans;
  height: 100%;
  margin: 0;

  button {
    cursor: pointer;
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  a {
    text-decoration: none;

    p,
    span {
      color: black;
    }

    h3 {
      color: $FooterBG;
    }
  }
}
